<h1> write a letter </h1>
<h3> dear mr. president </h3>

<%= form_for :letter do |f| %>
  <%= f.text_area :body %>
  <h3>
    sincerely, <br>
    <% if current_user %>
      <%= current_user.name %>, <br>
      ID:  <%= f.text_field :user_uid, :value => current_user.uid %>
    <% end %>
  </h3>
  Status: <%= f.text_field :status, :value => "draft" %> <br>
  <%= f.submit %>
<% end %>
