<div>
  <% if current_user %> 
    <p><%= link_to "Write Your President A Letter", new_letter_path, :class => "write_letter_btn" %> </p>
  <% end %>
  <% if @letters %>
    <h3> your letters </h3>
    <table class="table">
      <tr>
        <th> Letter </th>
        <th> Delivery Status </th>
        <th> Created On </th>
        <th>  </th>
      </tr>
      <% @letters.each do |letter| %>
        <tr>
          <td><%= "#{letter.letter_body.slice(0..25)} . . ."  %></td>
          <td><%= letter.status %></td>
          <td><%= letter.created_at.strftime("%A, %b %d") %></td>
          <% if letter.status == "en route" %>
            <td><%= link_to "tracking", purchase_path(letter.purchase) %></td>
          <% else %>
            <td><%= link_to "Preview / Purchase", new_purchase_path(:letter_id => letter.id) %></td>
          <% end %>
        </tr>
        <br>
      <% end %>
    </table>
  <% else %>
    <p> login with facebook to write your letter </p>
  <% end %>
</div>