<h1> voise </h1>
<% if current_user %> 
  <%= link_to "Write A Letter", new_letter_path %> 
<% end %>
<h3> all letters </h3>
<% if @letters %>
  <% @letters.each do |letter| %>
    <%= letter.letter_body %>,
    <%= letter.status %>,
    <%= letter.user_uid %>,
    <%= letter.created_at %> 
    <%= link_to "Preview / Purchase", new_purchase_path(:letter_id => letter.id) %>
    <br>
  <% end %>
<% else %>
  <p> no letters </p>
<% end %>
