<h1> dear mr. president </h1>
<% if current_user %> 
  <%= link_to "Write A Letter", new_letter_path %> 
<% end %>
<% if @letters %>
  <h3> your letters </h3>
  <table>
    <tr>
      <th> body </th>
      <th> status </th>
      <th> user_id </th>
      <th> created_at </th>
      <th> action </th>
    </tr>
    <% @letters.each do |letter| %>
      <tr>
        <td><%= letter.letter_body %></td>
        <td><%= letter.status %></td>
        <td><%= letter.user_uid %></td>
        <td><%= letter.created_at %></td>
        <% if letter.status == "en route" %>
          <td><%= link_to "tracking", purchase_path(letter.purchase) %></td>
        <% else %>
          <td><%= link_to "Preview / Purchase", new_purchase_path(:letter_id => letter.id) %></td>
        <% end %>
      </tr>
      <br>
    <% end %>
  </table>
<% else %>
  <p> login with facebook to write your letter </p>
<% end %>
