<h1> write a letter </h1>
<h3> dear mr. president </h3>

<%= form_for @letter do |f| %>
            <%= f.text_area :letter_body %>
  Status:   <%= f.text_field :status, :value => "draft" %> <br>
      UID:  <%= f.text_field :user_uid, :value => current_user.uid %>
            <%= f.submit %>
<% end %>
